<table>
    <tr>
        <th>Call Id</th>
        <th>SQL Id</th>
        <th>Params Id</th>
        <th>Options Id</th>
        <th>Start</th>
        <th>Time</th>
        <th>Response Id</th>
    </tr>

    {{#dbQueries}}
    <tr>
        <td class="center">{{moduleCallIdShort}}</td>
        <td class="center"><a href="/data/{{dbQueryStringId}}">{{dbQueryStringIdShort}}</a></td>
        <td class="center"><a href="/data/{{dbQueryParamsId}}">{{dbQueryParamsIdShort}}</a></td>
        <td class="center"><a href="/data/{{dbQueryOptionsId}}">{{dbQueryOptionsIdShort}}</a></td>
        <td class="center">{{dbQueryCreateTimeTime}}</td>
        <td class="center">{{queryTimeUs}}&micro;s</td>
        <td class="center"><a href="/data/{{dbResponseId}}">{{dbResponseIdShort}}</a></td>
    </tr>
    {{/dbQueries}}

</table>