<!DOCTYPE html>

<html>
    <link rel="stylesheet" type="text/css" href="/css/immutable.css" />
    <link rel="stylesheet" type="text/css" href="/css/github.css" />

    <script src="/js/highlight.pack.js"></script>
<head>

</head>

<body>
    <h1><a href="/">Immutable Engineering Console</a></h1>
    <hr />