<!DOCTYPE html>

<html>
    <link rel="stylesheet" type="text/css" href="/css/immutable.css" />
    <link rel="stylesheet" type="text/css" href="/css/github.css" />
    <!-- 3rd party libraries -->
    <script src="/js/domtastic.min.js"></script>
    <script src="/js/highlight.pack.js"></script>
    <script src="/js/reqwest.min.js"></script>
    <!-- app libraries -->
    <script src="/js/imec.js"></script>
<head>

</head>

<body>
    <h1><a href="/">Immutable Engineering Console</a></h1>
    <hr />